
<style>
    ul {
        list-style: none; 
    }
    .menu-items {
        display: flex; 
        flex-direction: row; 
    }

</style>

<div class='menu-items'>
<h3>Roberthood</h3><%= image_tag('logos/roberthood_black_feather.jpg', width: '100px') %>

<ul>
<li>Products</li>
<li>Learn</li>
<li>Support</li>
</ul>

<<a href="<%= new_session_url %>">Sign In</a>
<a href="<%= new_user_url %>">Sign Up</a>
<div>

<div>
    <header>
        <h2>Break Free from Commission Fees</h2>
    </header>
</div>
