<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>It's Time to Do Money | Roberthood</title>
</head>
<body>

<style>
    ul {
        list-style: none; 
    }
  

</style>

<div class='landing-page-menu'>

<div>
<h3>Roberthood</h3><%= image_tag('logos/roberthood_black_feather.jpg', width: '100px') %>
</div>

 <div class='landing-page-menu-items'>
          <a class='landing-page-menu-item' href='#'>Products</a>
          <a class='landing-page-menu-item' href='#'>Learn</a>
          <a class='landing-page-menu-item' href='#'>Support</a>      
</div> 

<div>
<a href="<%= new_session_url %>">Sign In</a>
</div>

<div>
<a href="<%= new_user_url %>">Sign Up</a>
</div>
  
</div>

<div>
    <div>
        <header>
                <h2>Break Free from Commission Fees</h2>
        </header>
    </div>
    <div>
        <%= image_tag('roberthood-cash-management.png') %>
    </div>
</div>
    
</body>
</html>


