
<h1>Welcome to Roberthood</h1>

<form action='<%= session_url %>' method='POST'>
  <input type='hidden' name='authenticity_token' method=<%='form_authenticity_token'%>>
<label>Username
    <input type='text' name='user[username]'>
</label>
<label>Password
    <input type='password' name='user[password]'>
</label>
<p>Forgot your username or password?</p>
<button type='submit'>Sign In</button>
</form>

<form action='<%= session_url %>' method='POST'>
  <input type='hidden' name='authenticity_token' method=<%='form_authenticity_token'%>>
  <input type='hidden' name='user[username]' value='wydyzq'>
  <input type='hidden' name='user[password]' value='password'>
  <button type='submit'>Demo User</button>
</form>



