
<style>
form {
    width: 1000px;
    margin: auto;
    margin-top: 250px;
}

.search {
    width: 80%;
    padding: 10px;
    font-size: 20px; 
}

.submit {
    width: 15%;
    padding: 10px;
    font-size: 20px;
    background-color: #333399;
    color: white;
}
</style>


<form>
    <div><%= image_tag('logos/roberthood_black_feather.jpg', width: '100px') %></div>
    <input type='text' name='text' class='search' placeholder='Search' />
    <input type='submit' name='submit' class='submit' value='Search' /> 
</form>
