.logout {
    cursor: pointer;
}

.account-page {
    display: flex;
    flex-direction: row;
}

.user-account {
    display: flex;
    flex-direction: column;
    width: 600px; 
    margin-left: 28%;
}

.user-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline-start: 0px;
    position: relative;
}

.user-nav-bar .user-nav-item {
    position: relative;
    z-index: 1;
    display: inline-block; 
    font-weight: 600;
}
//account page search box

.predictive-search {
    display: flex;
    flex-direction: column;
}

.auto-suggestions {
    top: 5%;
    position: absolute;
    background: #fff;
    z-index: 2;
    width: 400px;
}

.auto-suggestions > ul > li:hover {
    background: lightgray;
    cursor: pointer;
}

// trade 

.account-stock-purchase {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.account-purchase-shares {
    width: 5rem; 
    height: 2rem;
    text-align: right;
    padding-right: 1rem;
}

.account-purchase-shares:focus {
    border: 0.5px solid #00c806; 
    overflow: hidden;
    outline: none;
}


// account nav menu 

.account-page-link > a {
    color: #171718;
    font-size: 16px;
    font-weight: 700; 
}

.account-page-link:hover {
  color: #00c806;
}

.account-page-link {
    color: #171718;
    font-size: 16px;
    font-weight: 700; 
    list-style: none;
}

.portfolio-value-header {
    margin-left: 28%;
    list-style: none;
}

.portfolio-container {
    width: 300px;
    margin-left: 28%;
}

.portfolio {
    display: flex;
    flex-direction: column;
    width: 100rem; 
}

.portfolio-header {
    width: 50rem;
    display: flex;
    justify-content: space-evenly;
}

.total-portfolio-value {
    font-size: 30px;
    font-weight: 550;
}

.stocks-section {
    font-size: 22px;
    font-weight: 550;
}
.portfolio-item {
    display: flex;
    // justify-content: space-between;
    flex-direction: column;
    // padding-right: 30px; 
}

.shares-information {
    width: 50rem;
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
}

.company-details {
    width: 40rem;
    display: flex;
    justify-content: space-between;
    font-size: 1rem; 
    color: #000; 
}

.company-details:hover {
    background-color: #f5f8fa;
}

.sell-stock {
    color: #fff;
    background: #01b403;
    height: 1.25rem; 
    border-radius: 5px;
    width: 5rem;
}

.account-purchase-shares-error {
    color: #01b403; 
}

.account-trade {
    height: 23rem;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    padding: 1rem; 
    width: 100%; 
}

.account-right {
    font-size: 16px;
    padding: 5px; 
    width: 17rem;
}