.logout {
    cursor: pointer;
}

.account-page {
    display: flex;
    flex-direction: row;
}

.user-account {
    display: flex;
    flex-direction: column;
    width: 600px; 
    margin-left: 28%;
}

.user-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline-start: 0px;
    position: relative;
}

.user-nav-bar .user-nav-item {
    position: relative;
    z-index: 1;
    display: inline-block; 
    font-weight: 600;
}
//account page search box

.predictive-search {
    display: flex;
    flex-direction: column;
}

// account nav menu 
nav .animation {
    position: absolute;
    height: 3px;
    bottom: 0;
    z-index: 0;
    background: #00c806;
  
    border-radius: 3px;
    transition: all .5s ease 0s;
}

.user-anchor-link > a {
    color: #171718;
    font-size: 16px;
    font-weight: 700; 
    // line-height: 18px;
}


.user-nav-item:nth-child(1){
    width: 100px;
}
.nav start-account, .user-nav-item:nth-child(1):hover~.animation {
    width: 57px;
    left: 0; 
} 

.user-nav-item:nth-child(2){
    width: 110px;
}
.nav start-banking, .user-nav-item:nth-child(2):hover~.animation {
    width: 70px;
    left: 108px; 
} 

.user-nav-item:nth-child(3){
    width: 100px;
}
.nav start-history, .user-nav-item:nth-child(3):hover~.animation {
    width: 53px;
    left: 226px; 
} 

.user-nav-item:nth-child(4){
    width: 160px;
}
.nav start-documents, .user-nav-item:nth-child(4):hover~.animation {
    width: 70px;
    left: 330px; 
} 

.user-nav-item:nth-child(5){
    width: 100px;
}
.nav start-free-stocks, .user-nav-item:nth-child(5):hover~.animation {
    width: 90px;
    left: 500px; 
} 

// .user-nav-item:nth-child(6){
//     width: 100px;
// }
// .nav start-settings, .user-nav-item:nth-child(6):hover~.animation {
//     width: 50px;
//     left: 510px; 
// } 

.portfolio-value-header {
    margin-left: 28%;
    list-style: none;
}

.portfolio-container {
    width: 300px;
    margin-left: 28%;
}

.portfolio {
    display: flex;
    flex-direction: column;
}

.total-portfolio-value {
    font-size: 30px;
    font-weight: 550;
}

.stocks-section {
    font-size: 22px;
    font-weight: 550;
}
.portfolio-item {
    display: flex;
    justify-content: space-between;
    padding-right: 30px; 
}

.sell-stock {
    color: #01b403;
    border: 1px solid #01b403; 
    background: #fff;
    height: 50px; 
    border-radius: 5px;
}