hr {
    width: 100%;
    border: none;
    height: 1px;
    background: #F5F8FA;
}

ul {
    list-style: none;
}

input::-moz-placeholder {
    color: #f5f8fa; 
}

input:hover:-moz-placeholder {
    color: #171718; 
}

input::-ms-input-placeholder {
    color: #f5f8fa; 
}

input:hover::-ms-input-placeholder {
    color: #171718;
}

input::-webkit-input-placeholder {
    color: #f5f8fa; 
}

input:hover::-webkit-input-placeholder {
    color: #171718; 
}

//nav-bar

.nav-bar {
    display: flex;
    justify-content: space-evenly;
}

.dashboard-roberthood-hat {
    height: 15px;
    width: 25px;
}

.search-txt:hover {
    border: 1px solid #171718;
    // color: #171718;
}

.nav-menu-item {
    font-family: "DIN Pro", -apple-system, system-ui, sans-serif;
    color: #171718;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.nav-menu-item:hover {
    color: #21ce99;
}

.dropdown {
    border: none; 
}

.dropdown-menu {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    padding: 0;  
    width: 7rem; 
    padding: 1rem; 
}

.dropdown-list:hover {
    background: #F5F8FA;
}

button {
    cursor: pointer; 
}

.rg-logo {
    height: 10px;
    width: 10px;
}
.gold {
    font-family: "DIN Pro", -apple-system, system-ui, sans-serif;
    color: #cea774; 
}

.dropdown-menu-item {
  font-family: "DIN Pro", -apple-system, system-ui, sans-serif;
  color: #171718; 
}

.menu-icon {
    margin: 5px; 
}

// content container 

.content {
    width: 50%; 
    margin: 0 auto; 
    display: flex;
}

.left {
    margin-right: 2rem; 
}

// fund account container
.fund-account {
    border: 1px solid #f5f8fa; 
    border-width: 0.5px;
    padding: 1rem; 
    
}

.funds {
    font-family: "DIN Pro", -apple-system, system-ui, sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #68787e; 
    line-height: 18px;
    font-style: normal; 
}

.funds-message {
    font-family: "DIN Pro", -apple-system, system-ui, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #171718; 
    line-height: 18px;
    font-style: normal; 
}
.add-funds-message {
    font-family: "DIN Pro", -apple-system, system-ui, sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #21ce99; 
    line-height: 18px;
    font-style: normal; 
}


// collections container

.popular-collections {
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    // border: 1px solid lightgray; 
    padding: 5px; 
}

.show-more-collections {
    font-size: 8px;
    color: #21ce99;
}


//news container

.news {
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    // border: 1px solid lightgray; 
    padding: 5px; 
}

.news-item:hover {
    background: #F5F8FA;
    cursor: pointer; 
}

.news-title {
    display: flex;
}

.news-image {
    height: auto;
    width: 100px;
    border-radius: 2px;
}

.show-more-news {
    font-size: 8px;
    color: #21ce99;
}

.bolt {
    height: 5px;
    width: 5px;
    margin: 2px; 
}


// footer container 

.footer {
    font-family: "DIN Pro", system-ui, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.footer-paragraph {
    font-weight: 400;
    color: #b4bdc2; 
}

.privacy-policy {
    font-weight: 500;
    color: #21ce99; 
}

// right column container

.right {
    font-family: "DIN Pro", -apple-system, system-ui, sans-serif;
    font-size: 16px;
    padding: 5px; 
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    width: 15rem;
}

.watchlist-header {
    font-family: "DIN Pro", system-ui, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #171718; 
    line-height: 22px;
    font-style: normal; 
}

//logout button

// .logout-btn {
//     background-color: black;
//     color: #ffffff; 
//     border-radius: 3px;
//     padding: 5px;
//     font-size: 5px;
//     width: 55px;
// }