hr {
    width: 100%;
    border: none;
    height: 1px;
    background: #F5F8FA;
}

ul {
    list-style: none;
}

input::-moz-placeholder {
    // color: #f5f8fa; 
    color: #b4bdc2;
}

// input:hover:-moz-placeholder {
//     color: #171718; 
// }

input::-ms-input-placeholder {
    // color: #f5f8fa; 
    color: #b4bdc2;
}

// input:hover::-ms-input-placeholder {
//     color: #171718;
// }

input::-webkit-input-placeholder {
    // color: #f5f8fa; 
    color: #b4bdc2;
}

// input:hover::-webkit-input-placeholder {
//     color: #171718; 
// }

//header 

.header {
    display: flex;
    justify-content: space-between;
}

//nav-bar left-side

.navbar-left {
    display: flex;
    width: 1100px;
    justify-content: space-between;
}

.search-box {
    width: 400px;
    position: relative;
}
.search-box input {
    height: 30px;
    width: 100%;
    display: block; 
    border-radius: 5px;
    padding-left: 40px;
    outline: none;
    border: 1px solid lightgray; 
}

.search-btn {
    position: absolute;
    top: 2px;
    left: 5px; 
    width: 25px;
    height: 90%;
    border-radius: 50%;
    border: none;
    background: #fff;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    width: 600px;
}

.dashboard-roberthood-hat {
    height: 25px;
    width: 45px;
}

.dashboard-roberthood-hat:hover {
    filter: hue-rotate(180deg); 
}


.search-txt:hover {
    border: 0.5px solid lightgray; 
    // box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 4px 4px rgba(206, 204, 204, 0.25);
}

.nav-menu-item {
    color: #171718;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.nav-menu-item:hover {
    color: #21ce99;
}

.dropdown {
    border: none; 
}

.dropdown-menu {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    padding: 0;  
    position: absolute;
    width: 20rem; 
    right: 20px;
    padding: 1rem; 
}

.dropdown-list:hover {
    background: #F5F8FA;
}

button {
    cursor: pointer; 
}

.rg-logo {
    height: 10px;
    width: 10px;
}
.gold {
    color: #cea774; 
}

.dropdown-menu-item {
  color: #171718; 
}

.menu-icon {
    margin: 5px; 
}

// content container 

.content {
    width: 50%; 
    margin: 0 auto; 
    display: flex;
}

.left {
    margin-right: 2rem; 
}


//quote

.default_quote {
    padding-left: 50px;
}

.today {
    color: gray;
}
.ticker-results {
    list-style: none; 
}
.quote {
    width: 50%;
    margin: 0 auto;
}


// fund account container
.fund-account {
    border: 1px solid #f5f8fa; 
    border-width: 0.5px;
    padding: 1rem; 
    
}

.funds {
    font-size: 13px;
    font-weight: 500;
    color: #68787e; 
    line-height: 18px;
    font-style: normal; 
}

.funds-message {
    font-size: 13px;
    font-weight: 400;
    color: #171718; 
    line-height: 18px;
    font-style: normal; 
}
.add-funds-message {
    font-size: 13px;
    font-weight: 500;
    color: #21ce99; 
    line-height: 18px;
    font-style: normal; 
}


// collections container

.popular-collections {
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    font-weight: 500;
    padding: 5px; 
    line-height: 18px;
}

.show-more-collections {
    font-size: 13px;
    color: #21ce99;
}


//news container

.news-header {
    display: flex;
    font-size: 26px;
    font-weight: 500;
    line-height: 30px;
    font-style: normal; 
    justify-content: space-between;
}

.show-more-news {
    font-size: 13px;
    line-height: 18px;
    color: #21ce99;
}


.news {
    margin: 0 auto; 
    padding: 5px; 
}

.news-header {
    display: flex;
}

.news-item:hover {
    background: #F5F8FA;
    cursor: pointer; 
}

.news-title {
    display: flex;
    justify-content: space-between; 
}

.news-title-header {
    font-size: 18px; 
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
}

.news-image {
    height: auto;
    width: 100px;
    border-radius: 2px;
}

.bolt {
    height: 5px;
    width: 5px;
    margin: 2px; 
}


// footer container 

.footer {
    font-size: 13px;
}

.footer-paragraph {
    font-weight: 400;
    color: #b4bdc2; 
}

.privacy-policy {
    font-weight: 500;
    color: #21ce99; 
}

// right column container

.right {
    font-size: 16px;
    padding: 5px; 
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    width: 15rem;
}

.watchlist-header {
    font-size: 16px;
    font-weight: 500;
    color: #171718; 
    line-height: 22px;
    font-style: normal; 
}

.watchlist {
    display: flex;
    flex-direction: column;
}

//logout button

// .logout-btn {
//     background-color: black;
//     color: #ffffff; 
//     border-radius: 3px;
//     padding: 5px;
//     font-size: 5px;
//     width: 55px;
// }