// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//landing page nav bar 
.landing-page-nav-bar {
    display: flex; 
    justify-content: space-between;
}



//landing page logo 

.landing-page-logo {
    display: flex;
    flex-direction: row;
}

.black-feather {
    height: 25px;
    width: 25px;
}

//content-1

.content-1 {
    display: flex;
    width: 100%;
    margin: 0 auto;
    background-color: #21ce99; 
}

.container-1 {
    width: 40%;
    margin: 0 auto; 
}
.cash-management-photo {
    height: 200px;
}

.content-signup-btn {
    background-color: #242a2d;
    color: #ffffff;
    border-radius: 5px;
    font-size: 6px; 
    font-weight: 600;
    padding: 5px 12px;   
}