// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.landing-page-nav-bar {
    display: flex; 
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
    height: 65px; 
    padding-top: 10px;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}

.navbar-container-1 {
    display: flex; 
}

.landing-page-logo {
    display: flex;
    justify-content: space-between;
    // width: 155px; 
    width: 9.6rem; 
}

.roberthood {
    font-family: Times;
    font-weight: 400;
    font-size: 26px;
    color: #000;
    position: relative;
    bottom: 15px;
    // overflow: hidden;
}

.roberthood:hover {
    cursor: pointer; 
}

.roberthood-hat {
    padding-top: 15px; 
    height: 15px;
    width: 25px;
}

.landing-page-menu-items {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    // width: 400px;
    width: 30rem;
}

.landing-page-menu-item {
    color: #040d14;
    font-size: 19px;
    line-height: 19px;
}

.landing-page-menu-item:hover {
    color: #01b403; 
}

.navbar-container-2 {
    display: flex; 
    justify-content: space-around;
    // width: 250px;
    width: 16rem;
}

.menu-btn {
    display: none;
}

.signin-btn {
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #040d14; 
    border: none; 
    background: #fff;
}

.signin-btn:hover {
    // color: #18563E; 
    color: #00c806; 
}


.splash-signup-btn {
    height: 50px; 
    color: #040d14; 
    font-size: 18px; 
    background-color: #00C805;
    // border-radius: 10px;
    border-radius: 30px;
    line-height: 24px;
    // width: 88px;  
    // width: 138px;  
    width: 8.5rem;  
    font-weight: 700; 
    // transition: color 300ms ease-in-out;
    position: relative;
    // overflow: hidden;
    // z-index: 1;
    border: none; 
}

.splash-signup-btn:hover, 
.splash-signup-btn:focus {
//     color: #ffffff; 
background: #01b403;
}

// .splash-signup-btn::before {
//     content: "";
//     position: absolute;
//     top: 0; 
//     left: 0;
//     right: 0;
//     bottom: 0; 
//     background: #17563e;
//     z-index: -1;
//     transition: transform 300ms 10ms ease-in-out;
//     transform-origin: left;
//     transform: scaleX(0) scaleY(0.8);
//     border-radius: 10px;
// }

// .splash-signup-btn:hover::before,  
// .splash-signup-btn:focus::before {
//     transform: scaleX(1);
//     border-radius: 10px;
//     left: 0; 
// } 

// hamberger menu
    .menu-btn_burger {
        display: none;
    }

//content-1

.container-1 {
    width: 100%;
    margin: 0 auto;
    background-color: #C3F53C; 
    border-bottom: solid 1px black; 
}

.content-1 {
    width: 50%;
    display: flex;
    margin: 0 auto; 
    padding-top: 32px;
}

.signup-message {
    font-size: 62px;
    font-weight: 550;
}

 .paragraph-1 {
   color: #040d14;
    font-size: 28px;
    font-style: normal;
    line-height: 36px;
    // width: 450px;
    width: 90%;
 }

 .cash-management {
     position: relative;
    //  bottom: 0px; 
    //  margin-bottom: 0;
 }

.cash-management-photo {
    height: 575px;
    // height: 40%;
    // margin: 0 auto; 
}

.content-signup-btn {
    background-color: #040D14;
    color: #ffffff;
    // border-radius: 10px;
    border-radius: 30px;
    font-size: 16px; 
    font-weight: 400;
    padding: 5px 12px; 
    // height: 55px;
    height: 50px;
    // width: 150px;
    width: 145px;
    // transition: color 300ms ease-in-out;
    // position: relative;
    // z-index: 1;
}

.content-signup-btn:hover,
.content-signup-btn:focus {
    // color: #ffffff;
    background: #293137; 
}

// .content-signup-btn:before {
//     content: "";
//     position: absolute;
//     top: 0; 
//     left: 3px;
//     right: 0;
//     bottom: 0;
//     background: #040D14;
//     z-index: -1;
//     transition: transform 300ms 10ms ease-in-out;
//     transform-origin: left;
//     transform: scaleX(0) scaleY(0.8);
//     border-radius: 10px;
// }

// .content-signup-btn:hover::before, 
// .content-signup-btn:focus::before {
//     // transform: scaleX(1) scaleX(1);
//     transform: scaleX(1);
//     border-radius: 10px;
//     left: 0; 
// }

//content-2

.container-2 {
    // height: 350px; 
    height: 21rem; 
    border-bottom: 1px solid #000;
}

.content-2-full {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #040d14;
}
.content-2-header {  
    font-size: 36px;
    font-weight: 500;
    // line-height: 40px;
}
.content-2-body {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    // width: 560px; 
    width: 23%; 
    padding-left: 39%;
}

.content-2-footer {
    display: flex; 
    justify-content: center;
    text-align: center;
    color: #6f787e;
    font-style: italic;
    font-size: 18px;
    font-weight: 600;
    line-height: 17px;

}

.content-2-footer:hover {
    color: #18563e; 
}

//content-3 

.container-3 {
    // background: #F5F8FA;
    background: #fff;
    width: 100%;
    // height: 500px; 
    height: 30rem; 
    padding-top: 3rem;
}

.container-3-full {
    display: flex;
}

.container-3-left {
    padding: 10px;
}

.content-3 {
    // width: 1800px;
    width: 95%;
}
.content-3-box1 {
    width: 60%;
    margin-left: 29%;
}
.content-3-header {
    color: #040d14;
    font-size: 36px;
    font-weight: 500;
    line-height: 40px;
}

.content-3-box2 {
    // margin-left: 500px;
    margin-left: 29%;
    display: flex; 
    width: 55%;
}

.content-3-box2A {
    width: 23%; 
    // margin-right: 60px;
    margin-right: 5%;
} 

.content-3-box2B {
    width: 23%; 
    // margin-right: 60px;
    margin-right: 5%;
} 

.content-3-box2C {
    width: 23%; 
} 

// .content-3-search {
//     margin-left: 500px;
// }

.abstract_image {
    height: 430px; 
}

//container-4

.container-4 {
    background: #000000;
    padding-top: 70px;
    padding-bottom: 70px;
    height: 20rem; 
}

// .content-4 {
//     display: flex;
//     justify-content: center;
// }

// .content-4-box1 {
//     color: ivory; 
//     display: flex;
//     align-items: flex-start;
// }

// .learn {
//     font-style: normal;
//     font-weight: 600;
//     font-size:34px;
//     line-height: 36px;
// }
// .learn-image {
//     // height: 250px;
//     // width: 450px;
//     height: 500px;
//     width: 950px;
// }

// .manage {
//     font-style: normal;
//     font-weight: 300;
//     font-size: 24px;
//     line-height: 36px;
// }

// .customize {
//     font-style: normal;
//     font-weight: 300;
//     font-size: 24px;
//     line-height: 36px;
// }

// Social media icons

.social-media {
    margin-top: 20px; 
    padding-left: 25%;
    padding-bottom: 25%;
    // transform: translateY(25%);
    // transform: translateX(25%);
    // width: 100%;
    // text-align: center;
}

.sm-icon {
    display: inline-block;
    // width: 90px;
    width: 5.5rem;
    // height: 90px;
    height: 5.5rem;
    background: #f1f1f1;
    // margin: 10px;
    margin: 0.8rem;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;

}

.sm-icon i {
    // line-height: 90px;
    line-height: 5.5rem;
    // font-size: 26px;
    font-size: 1.6rem;
    transition: 0.2s linear;
    // margin-left: 33px;
    margin-left: 2rem;
}

.sm-icon:hover i {
    transform: scale(1.3); 
    color: #f1f1f1; 
}

.sm-icon::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.sm-icon:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    } 50% {
    left: 10%;
    top: -30%;
} 100% {
    top: -10%;
left: -10%;
 }
}

//container 5

// .our-products-image {
//     height: 400px;
//     width: 90%
// }

//footer

// .landing-page-footer {
//     height: 400px;
//     width: 100%; 
// }

@media (max-width: 1724px) {
    .cash-management-photo {
        display: none; 
    }
    
     .abstract_image {
        display: none;
    }
}

@media (max-width: 1427px) {  
     .abstract_image {
        display: none;
    }
}

@media (max-width: 980px) {
    .container-2 {
        height: 25rem;
    }
}

@media (max-width: 875px) {
    .landing-page-menu-item {
        display: none;
    }

    .nav-bar-signin {
        display: none;
    }

    .nav-bar-signup {
        display: none;
    }

    .menu-btn {
        display: inline-block;
        padding-top: 1rem;    
    }

    .burger-menu-dropdown {
        background: #fff;
        margin-right: 2rem; 
    }


}

@media (max-width: 690px) {

    .landing-page-menu-items {
        display: none;
    }

    .container-2 {
        height: 30rem;
    }

    .container-3 {
        height: 40rem; 
    }


    .content-3-box2 {
        display: flex;
        flex-direction: column;
    }
    .content-3-box2A {
    width: 100%; 
    // margin-right: 60px;
    margin-right: 5%;
    } 

    .content-3-box2B {
        width: 100%; 
        // margin-right: 60px;
        margin-right: 5%;
    } 

    .content-3-box2C {
        width: 100%; 
    } 
}

@media (max-width: 550px) {
    .container-2 {
        height: 35rem;
    }
}
@media (max-width: 510px) {
    .landing-page-menu-items {
    // margin-top: 20px;
    display: flex;
    justify-content: space-around;
    // width: 400px;
    width: 10rem;
    }
    .container-2 {
        height: 40rem;
    }
}

@media (max-width: 465px) {
    .container-2 {
        height: 45rem;
    }
   
    .content-3-box1 {
        width: 80%;
        margin-left: 10%; 
    }

    .content-3-box2 {
    width: 80%; 
    margin-left: 10%; 
} 

// Social media icons

    .social-media {
        // margin-top: 20px; 
        margin-top: 1rem; 
        // transform: translateY(25%);
        // transform: translateX(25%);
        // width: 100%;
        // text-align: center;
        padding-left: 1rem;
    }

    .sm-icon {
        display: inline-block;
        // width: 90px;
        width: 4.5rem;
        // height: 90px;
        height: 4.5rem;
        background: #f1f1f1;
        // margin: 10px;
        margin: 0.6rem;
        border-radius: 30%;
        box-shadow: 0 5px 15px -5px #00000070;
        color: #3498db;
        overflow: hidden;
        position: relative;
    }

    .sm-icon i {
        // line-height: 90px;
        line-height: 4.5rem;
        // font-size: 26px;
        font-size: 1.2rem;
        transition: 0.2s linear;
        // margin-left: 33px;
        margin-left: 1.8rem;
    }

    .sm-icon:hover i {
        transform: scale(1.3); 
        color: #f1f1f1; 
    }

    .sm-icon::before {
        content: "";
        position: absolute;
        width: 120%;
        height: 120%;
        background: #3498db;
        transform: rotate(45deg);
        left: -110%;
        top: 90%;
    }

    .sm-icon:hover::before {
        animation: aaa 0.7s 1;
        top: -10%;
        left: -10%;
    }
    @keyframes aaa {
        0% {
            left: -110%;
            top: 90%;
        } 50% {
        left: 10%;
        top: -30%;
    } 100% {
        top: -10%;
    left: -10%;
    }
    }

}

@media (max-width: 370px) {

    .signup-message {
        font-size: 3rem;
    }

    .paragraph-1 {
        font-size: 1.5rem;
    }

    .landing-page-menu-items {
        width: 5rem;
    }
    // .social-media {
    //     padding-left: 0.25rem;
    // }

}

