// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-in-container {
    display: flex;
    // margin: 1rem; 
    // height: 1225px; 
    height: 95%;
}

.image-container {
    background-image: image-url("sign_in.png");
    background-position: center;
    background-size: cover;
    height: 1300px;
    // height: 100%;
    width: 1300px; 
}


.sign-in-form {
    width: 1000px;
    margin-left: 50px; 
}

.login-form {
    left: 10px; 
}

.sign-in-header {
    font-size: 26px; 
    line-height: 32px;;
    font-weight: 700;
    font-style: normal;
    color: #171718; 
}

.label {
    font-size: 15px;
    color: #171718; 
}
.input {
    background-color: #F5F8FA;
    border-radius: 2px;
    border: none; 
    height: 3rem; 
    width: 25rem; 
    outline: none;
    font-size: 15px; 
}

.input:hover {
    border: 0.5px solid lightgray;
    background: #ffffff;
}

.input:focus {
    border: 0.5px solid #21ce99; 
    background: #ffffff;
}

.sign-in-btn {
    background-color: #01b403;
    color: #ffffff; 
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    height: 48px; 
    width: 140px;
}

.sign-in-btn:hover {
    background-color: #0b9d16;
}

.demo-user-btn {
    background-color: black;
    color: #ffffff; 
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    height: 48px; 
    width: 140px;
}

.demo-user-btn:hover {
    background: #293137
}

.retrieval {
    font-size: 15px; 
    line-height: 18px;;
    font-weight: 500;
    font-style: normal;
    color: #01b403; 
}


// Responsive 

@media screen and (max-width: 971px) {
    .image-container {
        display: none;
    }
    
    .break {
        display: none;
    }
}









// .demo-user-btn {
//     border: none;
//     background: linear-gradient(to right, #46a046, #5cb85c);
//     color: #fff;
//     padding: .5em 1em;
//     border-radius: 1em;
//     font-size: 2em;
//     cursor: pointer;
//     position: relative;
//     overflow: hidden;
//     height: 20px;
//     width: 40px; 
// }

// .demo-user-btn::before {
//     content: "";
//     height: 160%;
//     width: 40px;
//     background: rgba(255,255,255,.3);
//     position: absolute;
//     top: -20px;
//     transform: translateX(-80px) rotate(20deg);
//     transition: all .5s;
// }

// .demo-user-btn:hover::before {
//     transform: translateX(230px) rotate(20deg);
// }



