
.signup-navbar {
    display: flex;
    justify-content: space-around;
}

.active {
    color: #040d14; 
    font-style: normal;
    font-weight: 400; 
    font-size: 18px;
    line-height: 24px;
}

.signup-navbar-item {
    color: #b1bfc4; 
    font-style: normal;
    font-weight: 400; 
    font-size: 18px;
    line-height: 24px;
}

.signup-logo {
    height: 40px;
    width: 50px;
}


.signup-form {
    width: 27%;
    margin: 0 auto; 
}

.signup-header {
    color: #040d14; 
    font-style: normal;
    font-weight: 100; 
    font-size: 48px;
    line-height: 53px;
}

.signup-navbar {
    display: flex;
    justify-content: space-evenly;
}

.signup-subheader {
    color: #040d14; 
    font-style: normal;
    font-weight: 100; 
    font-size: 24px;
    line-height: 26px;
}

.firstname-lastname {
    display: flex;
    justify-content: space-between;
}

.signup-input1 {
    color: #040d14; 
    font-style: normal;
    font-weight: 100; 
    font-size: 18px;
    line-height: 24px;
    width: 47.5%;
    height: 40px;
    border-radius: 6px;
    border-width: 0.5px;
}

.signup-input2 {
    color: #040d14; 
    font-style: normal;
    font-weight: 100; 
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border-width: 0.5px;
}

.retrieval {
    color: #21ce99;
    font-size: 7px;
}

.signup-btn {
    font-size: 18px; 
    background-color: #21ce99;
    border-radius: 5px;
    color: #ffffff;
    line-height: 24px;
    width: 100%; 
}

.application {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #b1bfc4; 
}

span {
    color: #1ae9aa; 
}

.signup-form-footer-image {
    width: 700px;
    height: auto;
}